<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @{
        ViewBag.PageTitle = "Raptor ENEL";
    }

    <title>@ViewBag.PageTitle</title>

    @Styles.Render("~/css/css")
    
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    @using RaptorENEL_V._1._0.DAL;
    @using RaptorENEL_V._1._0.ActionFilters;
    @{
        RBACUser userLogued = RaptorAppContext.getSessionObj(RaptorAppContext.SESSION_USER_OBJ) as RBACUser;
    }

    <!-- START TOP BAR -->
    <div class="page-topbar @(Session["mnCollapseAux"] as string)">
        
        <!-- START LOGO AREA -->
        <div class="logo-area"></div>
        <!-- END LOGO AREA -->

        <!-- START QUICK AREA -->
        <div class="quick-area">
            
            <!-- START PULL LEFT -->
            <div class="pull-left">
                <ul class="info-menu left-links list-inline list-unstyled">
                    <li class="sidebar-toggle-wrap">
                        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "frmMenu", name = "frmMenu", novalidate = "novalidate" }))
                        {
                            <input type="hidden" id="mnCollapse" name="mnCollapse" value="@(Session["mnCollapse"] as string)" />
                            <input type="hidden" id="rawURL" name="rawURL" value="..@Request.Path" />
                            <a onclick="setTimeout($('#frmMenu').submit(),500);"
                               data-toggle="sidebar" class="sidebar_toggle">
                                <i class="fa fa-bars" style="font-size: 22px; margin-top: 10px;"></i>
                            </a>
                        }
                    </li>
                </ul>
            </div>
            <!-- END PULL LEFT -->

            <!-- START PULL RIGHT -->
            <div class="pull-right">
                <ul class="info-menu right-links list-inline list-unstyled">
                    <li>
                        <i class="fa fa-calendar" style="color: red;"></i>
                        <span style="margin-left: 5px; margin-right5px;">
                        @DateTime.Now.ToString("dd/MM/yyyy hh:mm")
                        </span>
                    </li>
                    <li>
                        <a href="@Url.Action("About", "Home")" target="_blank">
                            <i class="fa fa-info" style="color: orange;"></i>
                            <span style="margin-left: 5px; margin-right5px;">Acerca de</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Logout", "Login")">
                            <i class="fa fa-sign-out icon-success"></i>
                            <span style="margin-left: 5px; margin-right5px;">Salir</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END PULL RIGHT -->

        </div>
        <!-- END QUICK AREA -->

    </div>
    <!-- END TOP BAR -->

    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        
        <!-- START SIDEBAR MENU -->
        <div id="menuPrincipal" class="page-sidebar @(Session["mnCollapse"] as string)">

            <!-- START MAIN MENU -->
            <div class="page-sidebar-wrapper" id="main-menu-wrapper">

                <!-- START USER INFO -->
                <div class="profile-info row">

                    <div class="profile-image col-xs-4">
                        <!--span class="glyphicons glyphicons-user"></span-->
                        <a href="#">
                            <img alt="" src="~/Images/user-default.jpg" height="65" class="img-responsive img-circle" />
                        </a>
                    </div>

                    <div class="profile-details col-xs-8">
                        <h3>
                            <a href="#">@( userLogued.userFirstName as string ) @(userLogued.userLastName as string)</a>
                            <!-- Available statuses: online, idle, busy, away and offline -->
                            <span class="profile-status online"></span>
                        </h3>
                        <p class="profile-title">@( userLogued.userRoleName as string )</p>
                    </div>

                </div>
                <!-- END USER INFO -->

                <!-- START SIDE MENU LIST -->
                @Html.Partial("Navegation")
                <!-- END SIDE MENU LIST -->

            </div>
            <!-- END MAIN MENU -->

        </div>
        <!-- END SIDEBAR MENU -->

        <!-- START CONTENT -->
        <section id="main-content" class="@(Session["mnCollapseAux"] as string)">
            <section class="wrapper main-wrapper row" style="">

                <!-- START PAGE HEADING SECTION -->
                <div class="col-xs-12">
                    <div class="page-title">
                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title">@ViewBag.ContentTitle</h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>
                        <div class="pull-right hidden-xs">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="@Url.Action("Index", "Home")">
                                        <i class="fa fa-home" style="color: dodgerblue;"></i> inicio
                                    </a>
                                </li>
                                @(new HtmlString(@ViewBag.breadcrumblist))
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- END PAGE HEADING SECTION -->

                <div class="clearfix"></div>
                <div class="col-lg-12">
                    <section class="box ">
                        <header class="panel_header">
                            <h2 class="title pull-left">@ViewBag.SectionTitle</h2>
                        </header>
                        <div class="content-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr class="division" style="margin-top: 0px;" width="100%" />
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </section>
                    <h4 class="text-center" style="padding: 0px; margin-bottom: 0; color: rgba(174, 178, 183, 1.0); font-size: 13px;">
                        Powered by &copy; Ericsson 2018
                    </h4>
                </div>

            </section>
        </section>
        <!-- END CONTENT -->

    </div>
    <!-- END CONTAINER -->

    <!-- START BUSY MODAL -->
    <div id="modal_loading">
        <table width="100%" height="100%" border="0">
            <tr>
                <td align="center" valign="middle" width="40%"></td>
                <td align="center" valign="middle" width="20%">
                    <div style="background-color: white; width: 200px; border-radius: 10px;">
                        <br />
                        <img src="~/Images/loading4.gif" alt="" title="" width="110" />
                        <br /><br />
                    </div>
                </td>
                <td align="center" valign="middle" width="40%"></td>
            </tr>
        </table>
    </div>
    <!-- END BUSY MODAL -->
            
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        menuValidate('#@ViewBag.mnOptID');
        //$('#modal_loading').show();
        $(window).load(function() {
            $('a.show_modal').click(function(e) {
                $('#modal_loading').show();
            });
            $('form.show_modal').submit(function () {
                if ($(this).valid()) {
                    $('#modal_loading').show();
                }
            });
        });
        
    </script>

</body>
</html>
