@using RaptorENEL_V._1._0.DAL;
@using RaptorENEL_V._1._0.ActionFilters;

@{
    RBACUser session = RaptorAppContext.getSessionObj(RaptorAppContext.SESSION_USER_OBJ) as RBACUser;
}

<ul class="wraplist" style="height: auto;">

    <li id="optHome" class="">
        <a id="optInicio" href="@Url.Action("Index", "Home")" class="show_modal">
            <i class="fa fa-home" style="font-size: 160%"></i>
            <span class="title">Inicio</span>
        </a>
    </li>

@{ 
    if (session.permissionList.Any(c => c.Controller == "User" || c.Controller == "Role" || c.Controller == "Notificacion"))
    {
    <li id="optAdmin" class="">
        <a href="javascript:;">
            <i class="fa fa-address-card" style="font-size: 125%"></i>
            <span class="title">Administrador</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            @if (session.permissionList.Any(c => c.Controller == "User" && c.Action == "Index"))
            {
            <li>
                <a id="optUsuarios" href="@Url.Action("Index", "User")"  class="show_modal">
                    <i class="fa fa-user" style="font-size: 150%"></i>
                    <span class="title">Usuarios</span>
                </a>
            </li>
            }
            @if (session.permissionList.Any(c => c.Controller == "Role" && c.Action == "Index"))
            {
            <li>
                <a id="optRoles" href="@Url.Action("Index", "Role")" class="show_modal">
                    <i class="fa fa-users" style="font-size: 150%"></i>
                    <span class="title">Roles</span>
                </a>
            </li>
            }
            @if (session.permissionList.Any(c => c.Controller == "Notificacion" && c.Action == "Index"))
            {
            <li>
                <a id="optNotificaciones" href="@Url.Action("Index", "Notificacion")" class="show_modal">
                    <i class="fa fa-bell" style="font-size: 125%"></i>
                    <span class="title">Notificaciones</span>
                </a>
            </li>
            }
        </ul>
    </li>
    }
    
    if (session.permissionList.Any(c => c.Controller == "Bases" || c.Controller == "Municipios"))
    {
    <li id="optBasic" class="">
        <a href="javascript:;">
            <i class="fa fa-cogs" style="font-size: 150%"></i>
            <span class="title">Configuración</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            @if (session.permissionList.Any(c => c.Controller == "Bases" && c.Action == "Index"))
            {
            <li>
                <a id="optAnomalias" href="@Url.Action("Index","Bases")" class="show_modal">
                    <i class="fa fa-wrench" style="font-size: 150%"></i>
                    <span class="title">Tipo Anomalia / Reporte</span>
                </a>
            </li>
            }
            @if (session.permissionList.Any(c => c.Controller == "Municipios" && c.Action == "Index"))
            {
            <li>
                <a id="optMunicipios" href="@Url.Action("Index","Municipios")" class="show_modal">
                    <i class="fa fa-map" style="font-size: 125%"></i>
                    <span class="title">Municipios</span>
                </a>
            </li>
            }
        </ul>
    </li>
    }
   
    if (session.permissionList.Any(c => c.Controller == "Reportecandidato" || c.Controller == "Candidato" || c.Controller == "ImagenCandidato" || c.Controller == "Ubala"))
    {
    <li id="optCund" class="">
        <a href="javascript:;">
            <i class="fa fa-globe" style="font-size: 150%"></i>
            <span class="title">Cundinamarca 100%</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            @if (session.permissionList.Any(c => c.Controller == "Reportecandidato" && c.Action == "Index"))
            {
            <li>
                <a id="optAnexos" href="@Url.Action("Index","Reportecandidato")" class="show_modal">
                    <i class="fa fa-bookmark" style="font-size: 125%"></i>
                    <span class="title">Anexos</span>
                </a>
            </li>
            }
            @if (session.permissionList.Any(c => c.Controller == "Candidato" && c.Action == "Index"))
            {
            <li>
                <a id="optCandidatos" href="@Url.Action("Index","Candidato")" class="show_modal">
                    <i class="fa fa-user-plus" style="font-size: 125%"></i>
                    <span class="title">Candidatos</span>
                </a>
            </li>
            }
            @if (session.permissionList.Any(c => c.Controller == "ImagenCandidato" && c.Action == "Index"))
            {
            <li>
                <a id="optImagenes" href="@Url.Action("Index","ImagenCandidato")" class="show_modal">
                    <i class="fa fa-image" style="font-size: 125%"></i>
                    <span class="title">Imágenes en Terreno</span>
                </a>
            </li>
            }
            @if (session.permissionList.Any(c => c.Controller == "Ubala" && c.Action=="Index"))
            {
            <li>
                <a id="optUbalas" href="@Url.Action("Index","Ubala")" class="show_modal">
                    <i class="fa fa-map-marker" style="font-size: 150%"></i>
                    <span class="title">Ubala</span>
                </a>
            </li>
            }
        </ul>
    </li>
    }

    if (session.permissionList.Any(c => c.Controller == "Hurtos" || c.Controller == "Reporteincidencia"))
    {
    <li id="optReporte" class="">
        <a href="javascript:;">
            <i class="fa fa-clipboard" style="font-size: 125%"></i>
            <span class="title">Reportes</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            @if (session.permissionList.Any(c => c.Controller == "Hurtos" && c.Action == "Index"))
            {
            <li>
                <a id="optRepHurtos" href="@Url.Action("Index","Hurtos")" class="show_modal">
                    <i class="fa fa-user-secret" style="font-size: 150%"></i>
                    <span class="title">Reporte hurtos</span>
                </a>
            </li>
            }
            @if (session.permissionList.Any(c => c.Controller == "Reporteincidencia" && c.Action == "Index"))
            {
            <li>
                <a id="optRepIncidencias" href="@Url.Action("Index","Reporteincidencia")" class="show_modal">
                    <i class="fa fa-bug" style="font-size: 150%"></i>
                    <span class="title">Reporte incidencias</span>
                </a>
            </li>
            }
        </ul>
    </li>
        }
    }

    <li class="">
        <a href="@Url.Action("Logout","Login")">
            <i class="fa fa-sign-out" style="font-size: 125%"></i>
            <span class="title">Salir</span>
        </a>
    </li>

</ul>