@model RaptorENEL_V._1._0.Models.Role

@{
    ViewBag.ContentTitle = "ROLES";
    ViewBag.SectionTitle = "¿Está seguro de eliminar este rol?";
    ViewBag.breadcrumblist = "<li><a href='/Role'><i class='fa fa-users' style='color: dodgerblue;'></i> Roles</a></li><li><a href='#'><i class='fa fa-trash-o' style='color: dodgerblue;'></i> Eliminar</a></li>";
    ViewBag.mnOptID = "optRoles";
}

<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <br />
        <h4>Permisos</h4>
        <hr class="division" width="25%" />

        <dt>
            Lista de Permisos
        </dt>

        <dd>
            @Html.ListBox("permissions", null, new { @name = "permissions", @style = "width:100%;font-size:85%;", @size = 14, htmlAttributes = new { @class = "selectpicker form-control" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isAdmin)
        </dd>

    </dl>

    <hr class="division" style="margin-bottom: 15px;" width="100%" />

    @using (Html.BeginForm("Delete", "Role", FormMethod.Post, new { @class = "show_modal" }))
    {
        @Html.AntiForgeryToken()

        <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
            <div class="text-left">
                <a class="btn btn-secondary btn-icon bottom15 right15 show_modal" href="@Url.Action("Index","Role")">
                    <i class="fa fa-arrow-left"></i>
                    <span class="title">Regresar</span>
                </a>

                <button type="submit" class="btn btn-danger btn-icon bottom15 right15">
                    <i class="fa fa-trash-o"></i> &nbsp; <span>Eliminar</span>
                </button>
            </div>
        </div>
    }

</div>
