@model IEnumerable<ModelBD.Notas>

@{
    ViewBag.Title = "Index";
}
<link href="/css/bootstrap.css" rel="stylesheet" />
<script src="/js/jquery-1.10.2.js"></script>
<script src="/Scripts/toastr.js"></script>
<link href="/Content/toastr.css" rel="stylesheet" />
<h2>Carga de notas Masivas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdEstudiante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCurso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Laboratorio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Final)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCatedratico)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Laboratorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Final)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCatedratico)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdNota }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdNota }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdNota })
            </td>
        </tr>
    }

</table>
